<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Wiki App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1 class="text-center">{% block header %}Online Wiki App{% endblock %}</h1>
        </div>
    </header>
    <main class="container my-5">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-dark text-white py-3 mt-5">
        <div class="container text-center">
            <p>&copy; 2025 Hobby Site</p>
        </div>
    </footer>
</body>
</html>