{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Welcome, {{ request.user.username }}!</h2>
    <p>Welcome to your Hobby Site. You can navigate to the following sections:</p>
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="{% url 'forum:thread_list' %}">Forum</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'commissions:commissions_list' %}">Commissions</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'blog:article_list' %}">Blog</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'wiki:article_list' %}">Wiki</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'merchstore:merch_list' %}">Store</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'user_management:profile_dashboard' %}">Profile</a>
        </li>
    </ul>
</div>
{% endblock %}
