{% extends 'base_commissions.html' %}

{% block title %}Commissions List{% endblock %}

{% block content %}
    <h1>Commissions</h1>
        
    {% if user.is_authenticated %}
        <h2>Your Created Commissions</h2>
        {% if created_commissions %}
            <ul>
                {% for commission in created_commissions %}
                    <li>
                        <a href="{% url 'commissions:commissions_detail' commission.id %}">
                            {{ commission.title}} | {{ commission.created_on|date:"d-m-Y" }} | {{ commission.get_status_display }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>No commissions created yet</li>
        {% endif %}
        
        <h3>Your Applied Commissions</h3>
        {% if applied_commissions %}
            <ul>
                {% for commission in applied_commissions %}
                    <li>
                        <a href="{% url 'commissions:commissions_detail' commission.id %}">
                            {{ commission.title}} | {{ commission.created_on|date:"d-m-Y" }} | {{ commission.get_status_display }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <li>No commissions applied to yet</li>
        {% endif %}
    {% endif %}

    <h3>All Commissions</h3>
    <ul>
        {% for commission in commissions %}
            <li>
                <a href="{% url 'commissions:commissions_detail' commission.id %}">
                    {{ commission.title}} | {{ commission.created_on|date:"d-m-Y" }} | {{ commission.get_status_display }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <footer>
        <a href="{% url 'commissions:create_commissions' %}">Create New Commission</a>
    </footer>
{% endblock %}