{% extends 'base_commissions.html' %}

{% block title %}Commissions List{% endblock %}

{% block content %}
    <h1>Commissions</h1>
    <ul>
        {% for commission in commissions %}
            <li>
                <a href="{% url 'commissions:commissions_detail' commission.pk %}">
                    {{ commission.title}} | {{ commission.createdOn|date:"d-m-Y" }}
                </a>
            </li>
        
        {% empty %}
            <li>No commissions available.</li>
        {% endfor %}
    </ul>
{% endblock %}