{% extends 'base_commissions.html' %}

{% block title %}{{ Job }}{% endblock %}

{% block content %}
    <h1>{{ job.role }}</h1>
    <li>Status: {{ job.status }}</li>
    <li>Manpower Required: {{ job.manpower_required }}</li>

    <h2>Applicants:</h2>
    <ul>
        {% for application in applicants %}
        <li>
            {{ application.applicant.display_name}} ({{ application.get_status_display }})
            {% if is_owner %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="applicant_id" value="{{ application.id }}"> 
                
                <button type="submit" name="choice" value="accept" >Accept</button>

                <button type="submit" name="choice" value="reject" >Reject</button>
            </form>
            {% endif %}
        </li>
        {% empty %}
            <li>No applicants yet.</li>
        {% endfor %}
    </ul>
    <footer>
        <a href="{% url 'commissions:commissions_list' %}">Back to Commissions List</a>
    </footer>

    
    {% endblock %}

