{% extends 'base_commissions.html' %}

{% block title %}Update Commission{% endblock %}

{% block content %}
    <h1>Update: {{ commission.title }}</h1>
    
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="title">Title</label>
            {{ form.title }}
        </div>

        <div>
            <label for="description">Description</label>
            {{ form.description }}
        </div>

        <div>
            <label for="status">Status</label>
            {{ form.status }}
        </div>

        <button type="submit">Update</button>
    </form>

    <footer>
        <a href="{% url 'commissions:create_job' commission.id%}">Create New Job</a>
    </footer>

    
    {% endblock %}
