{% extends 'base_merchStore.html' %}

{% block title %}Merch Store{% endblock %}

{% block content %}
    <h1>Merch Store</h1>
    <ul>

        <h2>Your Products</h2>
        {% for user_products in user_products %}
            <li>
                <a href="{% url 'merchstore:merch_detail' user_products.pk %}">{{ user_products.name }} </a> - {{user_products.status}}
            </li>
        {% endfor %}

        <h2>Other Products</h2>
        {% for other_products in other_products%}
            <li> 
                <a href="{% url 'merchstore:merch_detail' other_products.pk %}">{{ other_products.name }} </a> -  {{other_products.status}}
            </li>
        {% endfor %}
        <br>
        <a href="{% url 'merchstore:merch_create'%}">Create Product</a> 
    </ul>
{% endblock %}