{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}
    <h1>{{ commission.title }}</h1>
    <ul>
        <li>Description: {{ commission.description }}</li>
    </ul>

    {% if is_owner %}
        <a href="{% url 'commissions:update_commissions' commission.pk %}">Edit Commission</a>
    {% endif %}

    <h2>Jobs</h2>
    <ul>
        {% for job in jobs %}
        <li>
            <a href="{% url 'commissions:job_view' job.id %}">{{ job.role }} - {{ job.manpower_required }} person(s) required</a>
            {% if job in full_jobs %}
                <b>Already Full!</b>
                <form method="post" action="{% url 'commissions:apply_to_job' job.id %}">
                    {% csrf_token %}
                    <button type="submit" disabled>Apply To Job</button>
                    </form>
            {% elif user.is_authenticated %}
                <form method="post" action="{% url 'commissions:apply_to_job' job.id %}">
                {% csrf_token %}
                <button type="submit">Apply To Job</button>
                </form>
            {% endif %}
            </li>
            {% empty %}
            <li>No applicants yet.</li>
        {% endfor %}
    </ul>
    <footer>
        <a href="{% url 'commissions:commissions_list' %}">Back to Commissions List</a>
    </footer>
    
    {% endblock %}




