{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<div>
    {% if article %}
    <div>
        <div>
            <h2>{{ article.title }}</h2>
            <p><strong>Category:</strong> {{ article.category }}</p>
            <div>{{ article.entry }}</div>
            <p><small>Created on: {{ article.created_on }}</small></p>
            <p><small>Last updated on: {{ article.updated_on }}</small></p>
        </div>
    </div>
    {% endif %}
    <a href="{% url 'blog:article_list' %}">Back to Articles</a>
</div>
{% endblock %}
